body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    background-color:bisque;
}

img {
    width: 45em;
    height: 30em;
    padding-top: 50px;
    padding-bottom: 50px;
}

h2 {
    padding-top: 50px;
    font-size: 3em;
    font-weight: 200;
}

h1 {
    font-size: 4em;
    font-weight: 300;
}

p {
    font-weight: 100;
}